<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30005">
    <setting id="nsfw" type="bool" label="30002" default="false"/>
    <setting id="lbryurl" type="text" option="urlencoded" label="30000" default="http://localhost:5279"/>
    <setting id="page_size" type="number" label="30006" default="20"/>
  </category>
</settings>
