<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="lbryurl" type="text" option="urlencoded" label="30000" default="http://localhost:5279"/>
<!--    <setting id="speechurl" type="text" option="urlencoded" label="30001" default="https://www.spee.ch"/> -->
    <setting id="nsfw" type="bool" label="30002" default="false"/>
</settings>
